MONGODB_URI=mongodb://localhost:27017
DISCORD_WEBHOOK_URL=https://discordapp.com/api/webhooks/1538669795917168640/RYB78O1mLXv6mI8T4Ix1IKiGblLKD1dfis8DmNBsrRstiFlM-jk1ClEv3A_Gb6znxtvZ
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
BOT_ENABLED=true
CHECK_INTERVAL=20
