MONGODB_URI=mongodb://localhost:27017
DISCORD_WEBHOOK_URL=https://discordapp.com/api/webhooks/1538659396538867793/uoPtWAgtTU_NAIR0gBskyC2aC00H9Ik2JISqXg2iPhqTyDXwLzfwtdgoG4eu0EdvmKsv
BOT_ENABLED=true
CHECK_INTERVAL=20
